*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


:root{
    
    --clr-text: #2C2C2C;
    --clr-accent: #212121;
    --clr-light: #FFF;
    --clr-dark: #000;

    --clr-primary-color: #820000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

}


html {
    scroll-behavior: smooth scroll;
}


body {


    margin: 0 auto;
    height: 100vh;
    font-family: 'Vollkorn', sans-serif;
    font-size: 	16px;
    line-height: 1.5;
    
    background-image: url(images/halftone.png);

}



.announcement-header {
  background-color: var(--clr-primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
 


  padding: 0 6.25rem;
}

.announcement-header p {

  font-size: 23px;
  font-weight: var(--fw-bold);
  color: #F5F5F5;
}

.dropdown{
  display: inline-block;
  
}
.dropdown button{
  background-color: white;
  color: black;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Vollkorn', serif;
  font-weight: var(--fw-bold);
  border-radius: 8px;
  font-size: 20px;
}
.dropdown a{
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
}
.dropdown .content{
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 95%);
  min-width: 100px;
  box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
}
.dropdown:hover .content{
  display: block;
}

.dropdown:hover button{
  background-color: rgb(190, 190, 190);
  color: black;
  transition: 0.3s all ease-in;
}
.dropdown a:hover{
  background-color: rgb(190, 190, 190);
  color: black;
  transition: 0.3s all ease-in;
  
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 100vh;

  overflow: hidden;

  background: var(--clr-primary-color);
  
}

.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, 0.459);
  border-bottom: 1px solid black;
  transition: .4s;
  background-color: rgb(185, 32, 58);
}

ul li:hover a{
  padding-left: 50px;
}

.sidebar ul a i{
  margin-right: 16px;
}


.container1 {
  width: 1500px;
  position: relative;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

}

.type-blood {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  background-color: rgb(226, 226, 226);
  border: solid 1px;
  padding: 16px;
}

.type-blood p{
  font-size: 40px;

}

.type-blood span {
  font-size: 40px ;
  font-weight: var(--fw-semibold);

  color: green;
}









.container3 {
  width: 1500px;
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-donors {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  background-color: rgb(226, 226, 226);
  border: solid 1px;
  
}

.total-donors p{
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.total-donors i{
  margin-top: 10px;
  color: rgb(2, 140, 194);
  font-size: 30px;
}

.total-donors span {
  margin-left: 5px;
}

.total-requests {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  background-color: rgb(226, 226, 226);
  border: solid 1px;
  vertical-align: middle;
}

.total-requests p{
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.total-requests i{
  margin-top: 10px;
  color: 	#880808;
  font-size: 30px;
}

.total-requests span {
  margin-left: 5px;
}

.approved-requests {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  background-color: rgb(226, 226, 226);
  border: solid 1px;
}

.approved-requests p{
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.approved-requests i{
  margin-top: 10px;
  font-size: 30px;
}

.tdayrequests span {
  margin-left: 5px;
}

.tdayrequests-approved {
  margin-top: 20px;
  height: 150px;
  width: 350px;
  background-color: rgb(226, 226, 226);
  border: solid 1px;
}

.tdayrequests-approved p{
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.tdayrequests-approved i{
  margin-top: 10px;
  font-size: 30px;
  color: rgb(2, 140, 194);
}

.tdayrequests-approved span {
  margin-left: 5px;
}

.container1 i{
  color: 	#880808;
}

.container2 i{
  color: 	#880808;
}





.main--content {
  display: flex;
  
}



.side-content {
  padding: 3.125rem;
}


