
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(red, green, blue);
    background-image: url(images/about-bgimg.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
}


.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h2{
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 20px;
}

.input-box label {
    color: #333;
}

.form .input-box input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}
.blood-type-container {
    display: flex;
    gap: 150px;
}

.form-check{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form .column {
    display: flex;
    column-gap: 15px;
}
.form .gender-box {
    margin-top: 20px;
}
.form .donate-box {
    margin-top: 20px;
}
.gender-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}
.donate-box h3{
    color: #333;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 8px;
}

.form :where(.gender-option, .gender) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}
.form :where(.donate-option, .yes-or-no) {
    display: flex;
    align-items: center;
    column-gap: 50px;
    flex-wrap: wrap;
}

.form .gender {
    column-gap: 5px;
    cursor: pointer;

}
.form .yes-or-no {
    column-gap: 5px;
    cursor: pointer;

}
.submit-button {
    margin-top: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    color: var(--clr-light);
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-color);
    cursor: pointer;
    text-decoration: none;
    background-color:  #A50000;
    color:white;
}

.submit-button:hover{
    opacity: 0.8;
}

.submit-button:active{
    opacity: 0.5;
}

.submit-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}


.form :where( .gender input, .gender label){
    cursor: pointer;
}
.form :where( .yes-or-no input, .yes-or-no label){
    cursor: pointer;
}

@media  screen and (max-width: 500px){
    .form .column{
        flex-wrap: wrap;
    }
    .form :where(.gender-option, .gender) {
        row-gap: 15px;
    }
    .form :where(.donate-option, .yes-or-no) {
        row-gap: 15px;
    }
}
    
.pfday {
    height: 30px;
    font-size: 15px;

}

.pftime {
    height: 30px;
    font-size: 15px;
}

a {
    border: solid;
  border-color: #A50000;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #A50000;
  color: white;
  border-radius: 50%;
}

a:hover{
    opacity: 0.8;
}

a:active{
    opacity: 0.5;
}