*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}


:root{
    
    --clr-text: #2C2C2C;
    --clr-accent: #212121;
    --clr-light: #FFF;
    --clr-dark: #000;

    --clr-primary-color: #820000;


    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

}


html {
    scroll-behavior: smooth scroll;
}


body {

    margin: 0 auto;
    height: 100vh;
    font-family: 'Vollkorn', serif;
    font-size: 	16px;
    line-height: 1.5;
    background-image: url(images/halftone.png);
    


}


header {
 
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    /* box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%); */
    
    
}
.site-header {

    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out; 
}

.site-header.scrolled {
    background-color: var(--clr-light);


    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 10%);
}


.announcement {
    background-color: var(--clr-primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
   
 

    padding: 0 6.25rem;
}

.announcement p {

    font-size: 20px;
    font-weight: var(--fw-bold);

    color: #F5F5F5;

}


nav {
    
    padding: 2rem 6.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav_list {
    display: flex;
    gap: 36px;
    list-style: none;

    font-weight: var(--fw-bold);
 
}

.nav_link {
    border-radius: 8px;
    padding: 0.5rem 1rem;
    color: var(--clr-dark);
    text-decoration: none;
    transition: 0.3s all ease-in;
}

.nav_link:hover {
    
    color: white;
    background-color: var(--clr-primary-color);
}


.main-section {
    height: 100vh;

    margin: 0;
    margin-top: 130px;
    padding: 0 0 0 10rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.donate-btn {
    display: flex;
    flex-direction: column;
}


.donate-btn a {
    margin-top: 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    color: var(--clr-light);
    font-family: 'Vollkorn', serif;
    font-size: 18px;
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-color);
    cursor: pointer;
    text-decoration: none;
}


.donate-btn a:hover{
    opacity: 0.8;
  }
  
.donate-btn a:active{
    opacity: 0.5;
  }



.first-content {
    text-align: center;
    margin-bottom: 200px;
}
.first-content h1 {
    font-size: 36px;
    font-weight: var(--fw-bold);
    color: var(--clr-text);
}

.first-content p {
    font-size: 16px;
    font-weight: var(--fw-medium);

}

.first-content span {
    font-size: 20px;
    color: #A50000;
}


.second-section{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    padding: 0 6.25rem;
    
}




/** FOOTER **/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
