* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

label {
    display: block;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.wrapper {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
}

form {
    border: 5px solid rgba(72, 0, 0, 0.80);
    border-radius: 20px;
    min-width: 580px;
    min-height: 600px;
    background-color: white;
    padding: 20px;
}

.back-arrow {
    width: 39px;
    height: 39px;
    border-style: none;
    border-radius: 50%;
    background-color: #952323;
    cursor: pointer;
    margin-bottom: 20px;
}

.fa-arrow-left {
    color: white;
}

.signin-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

input {
    border-radius: 6px;
    background-color: rgb(247, 242, 242);
    width: 336px;
    height: 35px;
    border-color: #952323;
}

h1 {
    color: #2C2C2C;
    font-size: 35px;
    font-weight: 800;
}

h3, a {
    font-size: 16px;
}

.forgor {
    color: #2C2C2C;
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

.signIn-btn {
    border-style: none;
    border-radius: 10px;
    min-width: 179px;
    min-height: 52px;
    color: white;
    background-color: #F02020;
    cursor: pointer;
}

.signup-here {
    color: #F02020;
}